# Byte-compiled files
*.pyc
__pycache__/

# Virtual environment
venv/

# Environment variables
.env

# Django static and media files
/static/
/media/

# VS Code settings
.vscode/

# SUPABSE SSL Certificate
prod-ca-2021.crt