commands:
  01_copy_firebase:
    command: |
      mkdir -p /etc/secrets
      # EB가 코드를 풀어놓는 경로(/var/app/staging)에서 JSON 파일 복사
      cp /var/app/staging/snulife-international-fcm-key.json /etc/secrets/firebase.json
      chmod 600 /etc/secrets/firebase.json
      chown root:root /etc/secrets/firebase.json